@charset "UTF-8";

:root {
    --background: rgb(24, 24, 25);
    --font-color: rgb(255, 255, 255);
    --input-height: 45px;
    --border-radius: 45px;
    --main-color: rgb(57, 149, 84);
}

.container {
    width: min(100% - 60px, 1080px);
    margin-inline: auto;
}

.center {
    display: grid;
    place-items: center ;
}

body {
    background-color: var(--background);
    font-family: "Inter", Arial, sans-serif;
    color: var(--font-color);
}

/*Main*/
section {
    height: 100dvh;
}

.content {
    background-color: rgba(0, 0, 255, 0);
}

.time {
    font-size: 140px;
    line-height: 1;
    text-align: center;
    transition-duration: 0.2s;
}

.green {
    color: var(--main-color);
}

.set-alarm p {
    margin-top: 25px;
    text-align: center;
    line-height: 1;
}

i {
    padding-right: 5px;
}

form {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

input[type=text] {
    color: var(--font-color);
    text-align: center;
    width: 80px;
    height: var(--input-height);
    border-radius: var(--border-radius);
    margin-right: 10px;
    background-color: rgb(43, 43, 44);
    border: 1px solid rgb(58, 58, 59);
    transition-duration: 0.2s;
}

input[type=text]:focus {
    border-color: var(--main-color);
}

input[type=button] {
    color: var(--font-color);
    width: 155px;
    height: var(--input-height);
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    transition-duration: 0.2s;
}

input[type=button]:hover {
    background-color: rgb(72, 185, 105);
}

input[type=button]:active {
    background-color: rgb(55, 139, 80);
}

@media (max-width: 412px) {
    .time {
        font-size: 100px;
    }
    input[type=button] {
        width: 130px;
    }
    input[type=text] {
        width: 60px;
    }
}

@media (max-width: 331px) {
    .time {
        font-size: 80px;
    }
    input[type=button] {
        width: 100px;
    }
    input[type=text] {
        width: 45px;
    }
}